@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background-color: #e9f8e5;
  font-family: "Poppins";
}

h1,
p {
  margin: 0;
}

.container {
  display: flex;
}

.image_g {
  height: auto;
  object-fit: contain;
  max-width: 100%;
}

.logo_heading {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.logo {
  margin: auto;
  width: 114px;
  height: auto;
}

.sign_up {
  width: 100%;
  background-color: #73895d;
  color: white;
  padding: 20px 0px 20px 0px;
  border-radius: 40px;
  border: none;
  font-size: 22px;
  margin-top: 10px;
  cursor: pointer;
}

.input_field {
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px;
  text-align: center;

  align-items: center;
  display: flex;
}

.real_input {
  border: none;
  outline: none;
  padding: 15px 5px 15px;
  width: 100%;
}

label {
  color: #6f7070;
  font-size: 20px;
}

::placeholder {
  color: #a4a5a6;
  font-size: 20px;
}
input[type="text"] {
  font-size: 20px;
}
input[type="password"] {
  font-size: 20px;
}

.form_container {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.input_container {
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.Creat_account {
  margin: 0;
  text-align: center;
  font-size: 34px;
  color: #4c4c4d;
}

/*Change text in autofill textbox*/
input:-webkit-autofill {
  -webkit-text-fill-background-color: #fff !important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-background-clip: text;

  transition: background-color #fff;
}

.social_icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.or {
  text-align: center;
  color: #b0bac3;
  font-size: 26px;
  font-weight: 400;
}

.alredy_have {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.alredy_have p {
  color: #4a4a4a;

}

.alredy_have span  {
  padding-left: 10px;
  color: #73895d;
  list-style: none;
  text-decoration: none;
}

.left {
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  background-color: white;
  width: 50%;
  border-radius: 30px 0px 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

.social_hover {
  cursor: pointer;
}

@media (max-width: 767px) {
  .alredy_have {
    padding: 10px 0px;
  }

  body {
    background-color: #fff;
  }

  .left {
    display: none;
  }
  .right {
    width: 100%;
  }
  .container {
    display: flex;
    /* height: 100vh; */

    /* text-align: center; */
  }
  .form_container {
    position: relative;
    width: 90%;
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
    background-color: #fff;
    margin: auto;
  }

  .logo {
    padding: 20px 0px 10px 0px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
}
@media only screen and (min-width: 1200px) {
  .image_g_m {
    display: none;
  }
}

@media only screen and (min-width: 992px) {
  .image_g_m {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .image_g_m {
    display: none;
  }
}
